@{
    Page.Title = "Sobre Viajes Monik";
}

<section id="main">
    <h1>Sobre Viajes Monik</h1>
    <p>
        Viajes Monik le ofrece una gran variedad de Tours por el hermoso país de Panamá.

        Conoce las maravillas que ofrece Panamá, país ubicado al extremo sureste de América Central. 
        Limita al Norte con el Mar Caribe y al Sur con el Océano Pacífico, brindando la oportunidad a 
        la realización de la enigmática obra de El Canal de Panamá, el cual juga un papel fundamental 
        para el desarrollo del país y a la vez permitiendo conectarnos con el mundo. En la actualidad 
        Panamá cuenta con una población superior a los 3.5 millones de habitantes conformada de varias 
        etnias que contribuyen con una riqueza cultural exquisita.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
